.chat {
	flex: 70%;
	display: flex;
	flex-direction: column;
}

.chat__header {
	padding: 8px 20px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
	flex: 1;
	padding-left: 20px;
}

.chat__headerInfo > h3 {
	font-weight: 400;
	font-size: 16;
}

.chat__headerInfo > p {
	color: gray;
}

.chat__headerRight {
	display: flex;
	justify-content: space-between;
	min-width: 100px;
}

.chat__headerRight .MuiSvgIcon-root{
	color: #9e9e9e;
}

.chat__body {
	flex: 1;
	background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
	background-repeat: repeat;
	background-position: center;
	padding: 30px;
	overflow-y: scroll;
}

.chat__message {
	position: relative;
	font-size: 16px;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	width: fit-content;
	max-width: 90%;
	margin-bottom: 25px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.chat__name {
	position: absolute;
	top: -15px;
	font-size: xx-small;
	font-weight: 800;
}

.chat__timestamp {
	margin-left: 10px;
	font-size: xx-small;
}

.chat__reciever {
	margin-left: auto;
	background: #dcf8c6;
}

.chat__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	border-top: 1px solid lightgray;
}

.chat__footer > form {
	flex: 1;
	display: flex;
}

.chat__footer > form > input {
	flex: 1;
	border-radius: 30px;
	padding: 10px;
	border: none;
}

.chat__footer > form > button {
	display: none;
}

.chat__footer  .MuiSvgIcon-root {
	color: #9e9e9e;
	font-size: 1.7rem;
}

.chat__footer > Button:nth-child(2){
	transform: rotate(45deg);
}