.sidebar {
	display: flex;
	flex-direction: column;
	flex: 30%;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
	border-right: 1px solid lightgray;
	align-items: center;
}

.sidebar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}

.sidebar__headerRight .MuiSvgIcon-root{
	color: #9e9e9e;
}

.sidebar__search {
	display: flex;
	align-items: center;
	background: #f6f6f6;
	height: 39px;
	padding: 10px;
	border-bottom: 0.5px solid #d3d3d34d;
}

.sidebar__searchContainer {
	display: flex;
	align-items: center;
	background: #fff;
	width: 100%;
	height: 35px;
	border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
	color: #9e9e9e;
	padding: 10px;
}

.sidebar__searchContainer > input {
	border: none;
	margin-left: 10px;
	flex: 1;
}

.sidebar__chats{
	flex: 1;
	overflow-y: auto;
	background: #fff;
}

.sidebar__chats > a{
	text-decoration: none;
}

.sidebar__chats > .sidebarChat{
	display: flex;
	justify-content: center;
}

.sidebar__chats > .sidebarChat > svg{
	color: green;
	margin-right: 5px;
	font-size: 1.2rem;
}

.sidebar__chats > .sidebarChat > h2{
	font-size: 1.2rem;
	font-weight: 600;
}