.app {
	background: #dadbd3;
	height: 100vh;
	display: grid;
	place-items: center;
}

.green{
    background: #009688;
    width: 100vw;
    height: 17vh;
    position: fixed;
}

.app__body {
    display: flex;
    z-index: 1;
	width: 91vw;
	height: 95vh;
	background: #ededed;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1400px) {
	.app__body {
		width: 100vw;
		height: 100vh;
		margin-top: 0;
	}
}